* {
    margin: 0;
    padding: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(0, 0, 140);
    color: white;
}

header>h1 {
    vertical-align: middle;
    text-align: center;
}

main {
    padding: 20px;
    height: 800px;

    line-height: 200%;

    background-color: rgb(35, 35, 35);
    color: white;
}

footer {
    padding: 20px;
    height: 100px;

    line-height: 200%;

    background-color: black;
    color: white;
}
